.logo-container {
  background-image: url('../images/logo\ trivia.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 178.76px;
  left: 551.21px;
  position: absolute;
  top: 53px;
  width: 177.79px;
  z-index: 5;
}

.ranking-box {
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  height: 488px;
  left: 396px;
  padding: 95px 0 0;
  position: absolute;
  text-align: center;
  top: 148px;
  width: 489px;
  z-index: 0;
}

.usr-score-container {
  margin-bottom: 15px;
}

h1 {
  color: #3c1b7a;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.12em;
  line-height: 150%;
  text-transform: uppercase;
}

h3 {
  float: left;
  font-size: 13px;
  font-weight: 400;
  margin: 20px 0 0 10px;
  position: relative;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  left: 8px;
  position: relative;
  top: -4px;
}

.ranking-button {
  position: relative;
  width: 85%;
}

.pfp-name {
  background: #ebebeb;
  border-radius: 100px;
  display: inline-block;
  height: 55px;
  left: -30px;
  position: relative;
  text-align: center;
  width: 332px;
  z-index: 3;
}

.profile-img {
  border-radius: 18.137px;
  float: left;
  height: 37px;
  left: 6px;
  margin: 0 5px;
  position: relative;
  top: 8.5px;
  width: 37px;
}

.score {
  background: white;
  border-radius: 100px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.25);
  height: 58px;
  left: 205px;
  position: absolute;
  top: -2px;
  width: 184px;
  z-index: 4;
}

.star-container {
  background-image: url('../images/Point-Star.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  left: 17px;
  position: relative;
  top: 15px;
  width: 25px;
  z-index: 5;
}
